/* clearfix */

.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}

.clearfix:after 
{
  clear:both;
}

.clearfix
{
   zoom:1;
}


/* libraries */

#galleriapress-libraries
{
  background: #eee;
  border: 1px solid #ddd;
  border-top: none;
  height: 400px;
  margin-bottom: 30px;
  width: 100%;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 4px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 4px; width: 100%; bottom: -5px; left: 0; }

#galleriapress-libraries .ui-resizable-s,
.galleriapress-items-container .ui-resizable-s
{
  background-color: #ccc;
  cursor: ns-resize;
  height: 4px;
  left: -1px;
	z-index: 80 !important;
}

.ui-draggable-dragging
{
	max-width: 120px;
	max-height: 120px;
	list-style: none;
}

/* tabs */
.libraries-tabs
{
  border-bottom: 1px solid #ddd;
	margin: 20px 0 0;
	padding: 0;
}

.libraries-tabs li
{
	float: left;
	padding: 0;
	margin: 0;
}

.libraries-tabs li a
{
	background: #f2f2f2;
  border-bottom: 1px solid #ddd;
  display: block;
	padding: 7px 7px 6px;
	text-decoration: none;
  position: relative;
  top: 1px;
  z-index: 2
}

.libraries-tabs li a:hover
{
  background: #eee;
}

.libraries-tabs li a:focus,
.libraries-tabs li a:active
{
  outline: none;
}

.libraries-tabs li img
{
  display: block;
  max-width: 28px;
  max-height: 28px;
}

.libraries-tabs li .title
{
  margin: 6px 0 5px;
  display: block;
}

.libraries-tabs li:first-child a
{
	border-radius: 2px 0 0 2px;
}

.libraries-tabs li:last-child a
{
	border-radius: 0 2px 2px 0;
}

.libraries-tabs li a.current
{
	font-weight: bold;
	background: #ddd;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
	padding: 6px 7px;
}

#galleriapress-libraries .library
{
  display: none;
}

#galleriapress-libraries .library-settings
{
  display: none;
}

.libraries-menu
{
  float: right;
  margin-top: 16px;
}

.libraries-menu .current
{
  font-weight: bold;
}

.libraries-menu a
{
  cursor: pointer;
}

a.library-path
{
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 12px;
  margin: 0 6px 0 0;
  padding: 4px 12px;
  text-decoration: none;
}

#galleriapress-libraries .loading
{
  background-color: rgba(255, 255, 255, .8);
  display: none;
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

#galleriapress-libraries .spinner
{
  display: block;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
}


/* base image grid */

#gallery-box .grid
{
	display: block;
	list-style-type: none;
  margin: 0;
}

#gallery-box .grid li
{
  background: #eee;
	cursor: pointer;
	float: left;
  height: 130px;
  margin: 2px;
  padding: 8px;
  text-align: center;
  width: 130px;
}

#gallery-box .grid > li:hover
{
  background: #ccc;
}

#gallery-box .grid > li.selected
{
  background: #bbb;
}

#gallery-box .grid li img
{
	display: block;
  margin: 0 auto;
  max-width: 130px;
  max-height: 130px;
}

#galleriapress-libraries .scrollable
{
  overflow-y: scroll;
}


/* gallery items */

.galleriapress-items-container
{
  background: #eee;
  border: 1px solid #eee;
	clear: both;
  height: 300px;
  margin: 3px 0 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 0;
  position: relative;
  width: 100%;
}

#galleriapress-items
{
  margin: 0;
  position: relative;
}

#galleriapress-items > li
{
  position: relative;
}

#galleriapress-items > li .delete
{
  background: url(../images/close-button.png);
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
  width: 16px;
  height: 16px;
}

#galleriapress-items > li:hover .delete
{
  display: block;
}

.item-info
{
  margin: 20px 0 0;
}

/* sortable */

.ui-sortable-helper
{
	list-style: none;
}

.ui-sortable-placeholder
{
	width: 100px;
	height: 100px;
	background: #cccccc;
	margin: 10px;
}


/* gallery options */

.custom-size input
{
	width: 4em;
}

.custom-size span
{
	margin: 0 20px 0 10px;
}

.themes li
{
	display: block;
	float: left;
	width: 200px;
	height: 100px;
	text-align: center;
	position: relative;
	line-height: 100px;
	cursor: pointer;
	background: #cccccc;
	border-radius: 5px;
}

.themes li.active,
.themes li.active:hover
{
	background: #bbbbbb;
}

.themes li:hover
{
	background: #dddddd;
}

.themes li span
{
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
}


