#wp_media-library .media-buttons
{
  float: left;
}

#wp_media-library .page-nav
{
  float: right;
  padding: 3px;
  margin: 10px 10px 0 0;
}

#wp_media-library .page-nav a
{
  padding: 5px 8px;
  background: #aaaaaa;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
}

#wp_media-library .media-buttons
{
  margin: 10px 0 0 10px;
}

#wp_media-settings .form-table
{
  margin-top: 0;
}

.wp_media-toolbar
{
  background-color: #ddd;
  overflow: hidden;
  padding: 8px;
}

.wp_media-toolbar .row
{
  margin-bottom: 10px;
}

.wp_media-months,
.wp_media-search
{
  display: inline-block;
  margin-right: 10px;
}
