#galleriapress-libraries #picasa-library
{
  overflow: auto;
}

.picasa-menu
{
  background-color: #ddd;
  overflow: hidden;
  padding: 8px;
}

.picasa-menu form
{
  display: inline-block;
}

#picasa-library .picasa-album
{
  margin: 10px;
  float: left;
  overflow: hidden;
  width: 160px;
  height: 250px;
  cursor: pointer;
}

#picasa-library .picasa-album .title
{
  margin: 5px 0 10px;
  font-size: 1.2em;
  display: block;
}

.picasa-loading
{
  text-align: center;
  position: absolute;
  top: 100px;
  width: 100%;
  display: none;
}

.picasa-loading .msg
{
  background: #f9edbe;
  padding: 5px;
}

